
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QL nguoi dung</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.ListTVNguoiDung != null)
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Phone</th>
                            <th>Xoa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ListTVNguoiDung)
                        {
                            <tr>
                                <td>@item.idUser</td>
                                <td>@item.TenUser</td>
                                <td>@item.DiaChi</td>
                                <td>@item.GioiTinh</td>
                                <td>@item.SoDT</td>
                                <td><a class="btn btn-danger" onclick="Delete(@item.idUser)"><i class="glyphicon glyphicon-trash"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>
<script>
    var Delete = function (ID) {
        $.ajax({
            type: "Post",
            url: "/Admin/QLNguoiDung/Delete",
            data: { UserID: ID },
            success: function (bool) {
                if (bool == "true")
                    window.location.reload(true);
            }
        })
    }
</script>

